:root {
    --body-color: #f8f7f1;
    /* --body-color: #f8f7f1; */
    --anchor-color: #333;
    --text-color: #333;

    --project-border-color: #5ff5d4a6;
}

body {
    background-color: var(--body-color);
    font-family: Tahoma, Verdana, sans-serif;
}

header {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #111; */
    /* border: 2px solid orange; */
}

a {
    color: var(--anchor-color);
}
a:hover {
    color: var(--anchor-color);
}
a:visited {
    color: var(--anchor-color);
}

header summary.details {
    /* padding: 50px; */
    /* border: 1px solid orange; */
    display: flex;
    
}

.profile-photo {
    flex-basis: 40%;
    /* background-image: url("../images/dee-profile.jpg"); */
    min-width: 150px;
    background: url("../images/dee-profile.jpg") no-repeat left top;
    background-size: cover;
    /* border: 5px groove #888; */
    border-radius: 5px; 
    /* border: 5px solid transparent; */
    box-shadow: 5px 5px 10px var(--text-color);

}

.profile-photo span{
    display: block;
    font-size: 200px;
}

.profile-intro {
    font-size: 200%;
    margin: 15px;
    /* border: 1px solid magenta; */
}
.profile-intro h1 {
    font-size: 160%;
    /* border: 1px solid blue; */
    white-space: nowrap;
    line-height: 1.5;

}


header nav {
    padding: 5px;
    margin-top:20px;

}
nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
}

nav ul li a {
    /* border: 1px solid yellowgreen; */
    padding: 15px;
    margin: 20px;
}

section {
    /* padding: 40px; */
    margin: 10px auto;
    width: 80%;
    /* border-bottom: 5px solid blue; */
}

#portfolio {
    /* background-color: #d8ddf7ab; */
    /* background-image: linear-gradient(to bottom, var(--body-color) , rgba(3, 56, 31, 0.452)); */
}

.project {
    /* margin-bottom: 40px; */
    /* border: 1px dashed #777; */
    /* border-radius: 3px; */
    padding: 10px;
    background-image: linear-gradient(to right, #99c0bdb7, rgba(70, 136, 76, 0.753));
    box-shadow: 5px 5px 10px #aaa;

    border: 5px groove #5ff5d4a6;

}

footer {
    /* background-color: #333;
    color: #fff; */
    text-align: center;
    padding: 10px 0;
}

/* container for left column to include label and value columns */
.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content:flex-start; */
    /* background-color: red; */
    padding: 20px;
}

.container .label-column{
    flex: 1;
    border: 1px solid yellow;
    /* text-align: left; */
    /* padding-right: 10px; */
    border-right: 1px solid #333;
}

.container .value-column{
    flex: 4;
    border: 1px solid orange;
    /* text-align: left; */
    /* padding-left: 10px; */
    border-right: 1px solid #000;
}

/* add flex to value column */
.container .value-column{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* add flex box specific to portfolio section*/
#portfolio .container .value-column{
    gap: 20px;
    row-gap: 50px;

}

#portfolio .container .value-column .project {
    /* flex: 1; */
    max-width: 50%;
    flex-basis: calc(50% - 10px);

    min-height: 150px;
    
}

#portfolio .container .value-column .project:first-child {
    /* flex: 1; */
    max-width: 100%;
    flex-basis: 100%;
    min-height: 250px;
    
}
/* hover effect for projects !! */
.project {
   opacity: 80%;
}

.project:hover {
    opacity: 100%;
    box-shadow: 5px 5px 10px #666;
    transition: all .4s ease;
 }



#contact .value-column p {
    font-weight: bold;
    margin-right: 100px;
}


/* Responsive design -media queries */
/* split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    section {
      width: 90%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
    .container {
        flex-direction: column;
    }
    summary.details {
        flex-direction: column;
    }
    summary.details .profile-photo {
        min-height: 250px;
        /* min-width: 150px; */
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    section {
      width: 95%;
    }
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }

  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 500px) {
    section {
      width: 99%;
    }
    /* Change the header color */
    header {
      background: yellow;
    }
  }