/* use these variables for setting colors and backgrounds */
:root {
    --body-color: #f8f7f1;
    --anchor-color: #0645ad;
    --text-color: #333;
    --project-border-color: #c5c5c2;
}

body {
    background-color: var(--body-color);
    font-family: Tahoma, Verdana, sans-serif;
}

header {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* all anchor links */
a,
a:hover,
a:visited {
    color: var(--anchor-color);
}

/* Header section  */
header summary.details {
    display: flex;
}

.profile-photo {
    flex-basis: 40%;
    min-width: 150px;
    background: url("../images/dee-profile.jpg") no-repeat left top;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--text-color);
}

.profile-photo span {
    display: block;
    font-size: 200px;
}

.profile-intro {
    font-size: 200%;
    margin: 15px;
    text-align: left;
}

.profile-intro h1 {
    font-size: 160%;
    white-space: nowrap;
    line-height: 1.5;
}

header nav {
    padding: 5px;
    margin-top: 20px;
    border-bottom: 2px groove var(--text-color);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li a {
    padding: 15px;
    margin: 20px;
}

section {
    margin: 10px auto;
    width: 80%;
}

/* Portfolio section */
.project {
    background-image: linear-gradient(to right, #fffdf7, #d8d8d7);
    box-shadow: 5px 5px 10px #aaa;
    border: 1px solid var(--project-border-color);
}

footer {
    text-align: center;
    padding: 10px 0;
}

/* container for left column to include label and value columns */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
/* use this to handle left titles  */
.container .label-column {
    flex: 1;
}
/* use this for display the right sode content */
.container .value-column {
    flex: 4;
}

/* add flex to value column */
.container .value-column {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* add flex box specific to portfolio section*/
#portfolio .container .value-column {
    gap: 20px;
    row-gap: 50px;
}

#portfolio .container .value-column .project {
    max-width: 50%;
    flex-basis: calc(50% - 10px);
    min-height: 250px;
    background-size: cover;
    position: relative;
    border-radius: 5px;
}

#portfolio .container .value-column .project:first-child {
    max-width: 100%;
    flex-basis: 100%;
    min-height: 350px;
}

/* hover effect for projects !! */
.project {
    opacity: 80%;
}

.project:hover {
    opacity: 100%;
    box-shadow: 5px 5px 10px var(--text-color);
    transition: all 0.4s ease;
}

/* Add background images for each projects  */
.project-one {
    background: url("../images/horiseon-header.png") no-repeat left top;
}

.project-two {
    background: url("../images/css-mini-project-scrnshot-2.png") no-repeat center center;
}

.project-three {
    background: url("../images/basic-landing-page-scrnshot.png") no-repeat center center;
}

.project-four {
    background: url("../images/space-jam-x.png");
}
.project-weather-dash {
    background: url("../images/weather-dash.png");
}
/* the title and label on top of the project images */
.project ul {
    position: absolute;
    bottom: 60px;
    padding: 10px;
    background-color: #fff;
    opacity: 1;
    box-shadow: 5px 5px 10px var(--text-color);
    color: var(--text-color);
}

.project p {
    font-size: 75%;
    line-height: 1.5;
}

#contact .value-column p {
    margin-right: 100px;
}

/* Responsive design -media queries */
/* split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
    section {
        width: 90%;
    }
    .container {
        flex-direction: column;
    }
    summary.details {
        flex-direction: column;
    }
    summary.details .profile-photo {
        min-height: 250px;
        background-position: center;
    }
}

/* For 768px or smaller screens */
@media screen and (max-width: 768px) {
    section {
        width: 95%;
    }
}

/* For 500px or smaller screens */
@media screen and (max-width: 500px) {
    section {
        width: 99%;
    }
}